
*{
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: auto;
    box-sizing: border-box
}

body{
padding: 0px;    
}

header{ font-family: monospace;
    border-radius: 10px;

}
nav{ 
    color: rgb(0, 0, 0);
text-align: center;
border-radius:5px;
}

a{ font-size: medium;
    


}

h1{
    font-family:monospace;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
}

h2{ font: bolder;

}
#square{ border-radius: 10px;
    background: linear-gradient(68.15deg, rgba(73, 90, 245, 1) 16.62%, #5752b1 85.61%);

}

#Square2{ border-radius: 100px;

}

#imgg{ width: 20px;
    display: block;
    margin: 0px auto;

}
#logo{width: 40px;
    display: block;
margin-right: auto;


}
footer{background-color: white;

}