
*{
    margin-left: 5px;
    margin-right: 5px;
    padding: 1px;
    box-sizing: border-box

}

body{background-color: black;
}






.bgheader{width:100% ;
    height: 300px;

}
header{ font-family: monospace;
    border-radius: 5px;
    justify-content: center;
    display: flex;

}

.menu{ width: 1000px;
    height: 50px;
    
    
}
.HOME{ font-family: monospace;
color: black;
height: 30px;
margin-left: 30%;
display:inline;
justify-content: center;


}
.SOBRE{font-family: monospace;
    color: black;
    height: 30px;
    display: inline-flex;
justify-content: center;


}
.SERVIÇOS{font-family: monospace;
    color: black;
    height: 30px;
    display: inline-flex;
    justify-content: center;

}

.CONTATO{font-family: monospace;
    color: black;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    
}

nav{ 
color: rgb(0, 0, 0);
text-align: center;
border-radius:5px;
}

    



.H1{
    font-family:SEGA LOGO FONT;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    
}

h2{ color:white;
    font: bolder;
}
h3{color: white;

}

#square{ 
    width: 100%;
    height: 500px;
    border-radius: 10px;
    background: rgba(73, 90, 245, 1);

}


#Square2{ border-radius: 100px;

}

button{ color:rgb(232, 226, 226);

}

#imga{ width: 20px;
    display: block;
    margin: 0px auto;

}
#logo{width: 40px;
height: 70%;
    
    margin: 5px;
    display: inline;
    justify-content: ;


}
footer{background-color: white;

}